---
import { Button } from "@/components/ui/button.tsx";
import { Card, CardContent, CardHeader } from "@/components/ui/card.tsx";
import { Award, ChevronDown, Clock, Users } from "lucide-react";

const heroStats = [
  {
    header: "15+",
    icon: Award,
    title: "Años de Experiencia",
    description: "Profesionales cualificados a tu servicio.",
  },
  {
    header: "24/7",
    icon: Clock,
    title: "Atención y Urgencias",
    description: "Disponibles para ti en cualquier momento.",
  },
];
---

<!-- Hero Section -->
<section
  id="hero"
  class="relative
    flex
    items-center
    bg-chambray-900
    text-white
    py-24
    sm:py-32
    lg:min-h-screen"
>
  <!-- Background Image & Overlay -->
  <div class="absolute inset-0">
    <img
      src="/banner-hero.png"
      alt="Técnico experto realizando el mantenimiento de una unidad de aire acondicionado en un tejado de Madrid"
      class="w-full h-full object-cover opacity-20"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-chambray-950 to-chambray-950/20"
    >
    </div>
  </div>

  <!-- Content -->
  <div
    class="relative container mx-auto px-4 grid lg:grid-cols-2 gap-12 items-center"
  >
    <!-- Left Column: Text -->
    <div class="text-center lg:text-left">
      <h1 class="text-4xl md:text-6xl font-extrabold tracking-tight">
        Soluciones Expertas en <span class="text-chambray-500"
          >Climatización</span
        > y <span class="text-chambray-300"> reformas del hogar </span>
      </h1>
      <p class="mt-6 text-lg text-chambray-200 max-w-xl mx-auto lg:mx-0">
        Tu confort es nuestra prioridad. Ofrecemos servicios de instalación,
        mantenimiento y reparación con la máxima calidad y garantía.
      </p>
      <div
        class="mt-10 flex flex-col sm:flex-row items-center justify-center lg:justify-start gap-4"
      >
        <Button
          size="lg"
          className="bg-chambray-500 hover:bg-chambray-500/90 text-white text-lg hover:scale-105 transition-all"
          client:load
        >
          <a href="#contact"> Solicitar Presupuesto </a>
        </Button>
        <Button
          size="lg"
          variant="outline"
          className="border-white text-black hover:bg-white/10 text-lg hover:text-white"
          client:load
        >
          <a href="#services"> Ver Servicios </a>
        </Button>
      </div>
    </div>

    <!-- Right Column: Stats Cards -->
    <div class="space-y-4 items-center justify-center">
      <div
        class="flex flex-row gap-3 sm:gap-4 lg:gap-6 flex-wrap sm:flex-nowrap justify-center"
      >
        {
          heroStats.map((stat) => {
            const Icon = stat.icon;
            return (
              <Card className="gap-0 bg-chambray-500/50 border-chambray-300/60 border-2 backdrop-blur-sm w-full flex flex-col hover:-translate-y-1 hover:scale-105 hover:bg-chambray-600 transition-all duration-200">
                <CardHeader className="text-3xl sm:text-5xl font-extrabold text-center text-white">
                  {stat.header}
                </CardHeader>
                <CardContent className="p-0 pt-2 flex-grow flex flex-col justify-center text-center text-white">
                  <div>
                    <h3 class="font-bold text-base sm:text-2xl leading-tight">
                      {stat.title}
                    </h3>
                    <p class="text-xs sm:text-sm text-chambray-300 mt-1">
                      {stat.description}
                    </p>
                  </div>
                </CardContent>
              </Card>
            );
          })
        }
      </div>
    </div>
  </div>
  <!-- Scroll Indicator -->
  <div class="absolute lg:bottom-30 bottom-5 left-1/2 -translate-x-1/2">
    <ChevronDown
      className="w-10 h-10 animate-bounce text-white opacity-80 hover:opacity-100 transition"
    />
  </div>
</section>
