---
type Props = {};

const {} = Astro.props;
---

<div
  class="h-20 w-20 bg-white bg-clip-border rounded-full flex items-center justify-center"
>
  <img src="/new-logo.png" alt="Logo Bagma" />
</div>
